body {
    text-align: center;
    font-family: 'VT323', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
}

#socials {
    align-content: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 10px;
}