html{
	height: 100%;
}
body{
	display: grid;
	font-family: "Roboto Mono";
	grid-template-rows: repeat(5, 20%);
	grid-template-columns: 20% 60% 20%;
	height: 100%;
}

textarea, button{
	font-family: "Roboto Mono";
}

#main-container{
	grid-row: 3;
	grid-column: 2;
}
#mte{
	width:100%;
	height: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    resize: none;
    display: inline-block;
}
#main-sub-container{
	display: grid;
	grid-template-columns: 50% 50%;
}
#reset-button{
	grid-column-start: 2;
	grid-column-end: 2;
}
#keystroke-counter{
	grid-column-start:1;
	grid-column-end: 1;
}

#header-bar{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

#blurb{
	text-align:center;
	grid-row: 2;
	grid-column: 2;
	margin: auto;
	font-size: 1.2vw;
}

label{
	display: inline-block;
}

* {
  box-sizing: border-box;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline: 0;
}

.toggle {
  height: 32px;
  width: 52px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
  transition: all 0.2s ease;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: #654FEC;
}
.toggle:checked:after {
  transform: translatex(20px);
}

#nm{
	grid-column-start: 1;
	grid-column-end: 1;
}

#nmToggle{
	margin: 10px auto;
	position: absolute;
	left: 10px;

}

#logo-text{
	font-size: 1.8vw;
}