body{
	background-color: white;
	color: black;
}
#mte{
    background-color: white;
    color: black;
}
button{
	background-color: #2d2d2d;
	color: white;
}
#header-bar{
	background-color: #2d2d2d;
}
#logo-text{
	color: white;
}